<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="demolimoges.onmicrosoft.com" />
    <add key="ida:ClientId" value="44dbddeb-5c85-4d44-9212-bbbc3cc69a20" />
    <add key="ida:RedirectUri" value="http://consoleAppSas.webapi.client" />
  </appSettings>
</configuration>